<div class="row">
  <div class="col-lg-4">
    <img src="<%= image.url %>" class="img-responsive">
  </div>
  <div class="col-lg-8">
    <ul>
    <%= partial(:prediction, :collection => image.predictions) %>
    </ul>
  </div>
</div>
<hr>
